@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Acceso denegado</h2>

<img src="https://i.ytimg.com/vi/24eb9lJorj4/maxresdefault.jpg" style="width:600px; height:550px;" />